.stats {
  padding-top: 50px;
  width: 95%;
  margin: auto;
}

.github-calender-div {
  width: 95%;
  margin: auto;
}


.calendar-container {
  width: 80%;
  padding: 20px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  margin: auto;
  border-radius: 10px;
  margin-top: 50px;
}


.react-github-calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  margin: 90px;
  margin: auto;
}

.react-github-calendar h2 {

  font-size: 24px;
  text-align: center;
}

.react-github-calendar .calendar-graph {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
}

.react-github-calendar .graph-legend {
  display: flex;
  justify-content: center;
  margin-top: 90px;
}

.react-github-calendar .graph-legend .legend-item {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.react-github-calendar .graph-legend .legend-item .legend-color {
  width: 12px;
  height: 12px;
  margin-right: 6px;
  border-radius: 100%;
}

.react-github-calendar .graph-legend .legend-item .legend-text {
  font-size: 14px;
}

.react-github-calendar .graph-day {
  width: 12px;
  height: 12px;
  margin: 1px;
  border-radius: 100%;
  transition: opacity 0.2s;
}

.react-github-calendar .graph-day:hover {
  opacity: 0.7;
}

.react-github-calendar .graph-day.level-0 {
  background-color: #ebedf0;
}

.react-github-calendar .graph-day.level-1 {
  background-color: #9be9a8;
}

.react-github-calendar .graph-day.level-2 {
  background-color: #40c463;
}

.react-github-calendar .graph-day.level-3 {
  background-color: #30a14e;
}

.react-github-calendar .graph-day.level-4 {
  background-color: #216e39;
}

.git-box {
  margin: auto;
  width: 90%;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}
.github-stats-card {
  width: 100%;
}

.github-top-langs {

  width: 100%;
}

.github-streak-stats {

  width: 100%;
}
.git-box>div{
  width: 30%;
}



@media screen and (min-width:800px) and (max-width:1300px) {

  .git-box {
    width: 60%;
    
    display: block;
  }
  .git-box>div{
    width: fit-content;
  }

  .git-box>div {
    width: 100%;
  }

  .github-stats-card {


    width: 100%;
  }

  .github-top-langs {


    width: 100%;
  }

  .github-streak-stats {


    width: 100%;
  }

  .github-calender-div {
    width: 100%;
    margin: auto;
  }

}

@media screen and (max-width:850px){
  .git-box {
    width: 70%;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
  }
  .git-box>div{
    width: 90%;
    margin: auto;
  }
  .react-activity-calendar__count{
    font-size: 0.7rem;
  }
  
  .react-activity-calendar__legend-colors>span{
    font-size: 0.7rem;
  }
  .react-activity-calendar__legend-colors>svg{
    width: 9px;
    height: 9px;
  }
  .github-calender-div {
    width: 100%;
    margin: auto;
  }
  .calendar-container{
    width: 100%;
    padding: 10px;
    margin-top: 20px;
  }
  
}