.social-links,.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .social-btn {
    cursor: pointer;
    height: 50px;
    width: 50px;
    font-family: 'Titillium Web', sans-serif;
    color: #333;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: white;
    margin: 5px;
    transition: 0.3s;
    justify-content: center;
  }
  
  .social-btn svg {
    height: 24px;
    width: 24px;
    margin-left: 5px;
  }
  
  .social-btn span {
    width: 0px;
    overflow: hidden;
    transition: 0.3s;
    text-align: center;
    margin-left: 5px;
  }
  
  .social-btn:hover {
    width: 150px;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  
  .social-btn:hover span {
    padding: 2px;
    width: 80px;
    transition: all 0.3s ease;

  }
  
  #instagram svg {
    fill: #cc39a4;
    width: 35px;
    height: 35px;
  }
  
  #linkedin svg {
    fill: #0e76a8;
  }
  
  #github {
    fill: #333;
  }
  